@import 'common/_reset';
@import 'common/_fonts';


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Pretendard Variable', sans-serif;
    background-color: #f9f9f9;
}

#__next,
html,
body {
    box-sizing: border-box;
    width: 100%;
    font-family: 'Pretendard Variable', 'Pretendard', '-apple-system', 'BlinkMacSystemFont', system-ui,
        'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    font-weight: 400;
}

.rdtPicker {
    min-width: 145.5px !important;
    background-color: #f9f9f9 !important;


    .rdtCounter .rdtCount {
        font-size: 13px;
    }

    .rdtCounter .rdtBtn {
        height: 40%;
        color: rgb(151, 151, 151);
    }
}